@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@model SofthemeClassBooking_BOL.Models.EventModel

@{
    var isEditMode = false;
    if (Model != null)
    {
        isEditMode = true;
    }
}

@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { id = "event-modal-form" }))
{

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.UserId, new { id = "event-modal-userid" })
    @Html.HiddenFor(m => m.BeginingDate, new { id = "event-modal-beginingDate" })
    @Html.HiddenFor(m => m.EndingDate, new { id = "event-modal-endingDate" })
    @Html.HiddenFor(m => m.ClassRoomId, new { id = "event-modal-classRoomId" })

    <div id="event-modal-crud-section" class="event event-create">
        <div class="event-header-edit noselect-text">
            <div class="event-header-datetime-section ">
                <div class="event-edit-date">
                    <div id="date-day-up-modal" class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                    <div id="date-day-value-modal" class="event-edit-value">18</div>
                    <div id="date-day-down-modal" class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                </div>

                <div class="event-edit-date event-edit-date-month">
                    <div id="date-month-up-modal" class="event-edit-up event-edit-value-month"><i class="fa fa-sort-up"></i></div>
                    <div id="date-month-value-modal" class="event-edit-value event-edit-value-month">Мая</div>
                    <div id="date-month-down-modal" class="event-edit-down event-edit-value-month"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                </div>

                <div class="event-spacing"></div>

                <div class="event-edit-date event-edit-date-time">
                    <div id="timebegin-hours-up-modal" class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                    <div id="timebegin-hours-value-modal" class="event-edit-value">18</div>
                    <div id="timebegin-hours-down-modal" class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                </div><!----><div class="event-edit-time-delimeter">
                    <span>:</span>
                </div><!----><div class="event-edit-date event-edit-date-time">
                    <div id="timebegin-minutes-up-modal" class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                    <div id="timebegin-minutes-value-modal" class="event-edit-value">00</div>
                    <div id="timebegin-minutes-down-modal" class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                </div>

                <div class="event-edit-time-delimeter">
                    <span>-</span>
                </div>

                <div class="event-edit-date event-edit-date-time">
                    <div id="timeend-hours-up-modal" class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                    <div id="timeend-hours-value-modal" class="event-edit-value">19</div>
                    <div id="timeend-hours-down-modal" class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                </div><!----><div class="event-edit-time-delimeter">
                    <span>:</span>
                </div><!----><div class="event-edit-date event-edit-date-time">
                    <div id="timeend-minutes-up-modal" class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                    <div id="timeend-minutes-value-modal" class="event-edit-value">00</div>
                    <div id="timeend-minutes-down-modal" class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
                </div>

                <div class="event-spacing-dropdown"></div>

                <input type="hidden" name="room-id" value="" />

                <div id="event-edit-room-dropdown" class="event-edit-room-dropdown-selected">
                    <div id="event-edit-room-selected">
                        <span id="event-modal-selected-room" class="selected-room"></span>
                        <i class="fa fa-sort-desc" aria-hidden="true"></i>
                    </div>

                    <div id="event-edit-room-dropdown-elements">
                        <div class="event-edit-room-dropdown-variant">Einstein Classroom</div>
                    </div>
                </div>
            </div>

            <div class="event-header-close-section">
                <div id="event-modal-form-close" class="event-header-close"></div>
            </div>

        </div>

        <div class="event-edit-title-section">
            <div id="event-modal-title-error" class="error-message"> <img src="/Content/images/danger.png" /> @Localization.ErrorEmptyField </div>
            @Html.TextBoxFor(m => m.Title, new { placeholder = Localization.EventTitlePlaceholder, id = "event-modal-title", @class = "event-edit-title" })
        </div>

        <div class="event-body">
            @Html.TextAreaFor(m => m.Description, new { placeholder = Localization.EventAdditionalInfoPlaceholder, id = "event-modal-description", @class = "event-edit-description" })
        </div>


        <div class="event-edit-access">
            <div class="checkbox">
                @if (isEditMode && Model.IsParticipantsAllowed)
                {
                    <input id="IsParticipantsAllowed-modal" name="IsParticipantsAllowed" type="checkbox" value="true" checked />
                }
                else
                {
                    <input id="IsParticipantsAllowed-modal" name="IsParticipantsAllowed" type="checkbox" value="true">
                }

                <label for="IsParticipantsAllowed-modal"></label>
                <input name="IsParticipantsAllowed-modal" type="hidden" value="false">

            </div>
            <div class="event-edit-label">@Localization.EventRegisterParticipants</div>

            <div class="event-edit-access-section">
                <div class="event-edit-access-text">
                    @Localization.EventPublic
                </div>

                <div class="checkbox-slider">

                    @if (isEditMode && Model.IsPrivate)
                    {
                        <input id="IsPrivate-modal" name="IsPrivate" type="checkbox" value="true" checked />
                    }
                    else
                    {
                        <input id="IsPrivate-modal" name="IsPrivate" type="checkbox" value="true">
                    }
                    <label for="IsPrivate-modal"></label>
                    <input name="IsPrivate-modal" type="hidden" value="false">
                </div>

                <div class="event-edit-access-text-private">
                    @Localization.EventPrivate
                </div>
            </div>

        </div>

        <div class="event-edit-organizers">
            <div class="checkbox">

                @if (isEditMode && Model.IsAuthorShown)
                {
                    <input id="IsAuthorShown-modal" name="IsAuthorShown" type="checkbox" value="true" checked />
                }
                else
                {
                    <input id="IsAuthorShown-modal" name="IsAuthorShown" type="checkbox" value="true">
                }
                <label for="IsAuthorShown-modal"></label>
                <input name="IsAuthorShown-modal" type="hidden" value="false">


            </div>
            <div class="event-edit-label">@Localization.EventShowAuthor</div>
            <div class="event-edit-text-or">@Localization.Or</div>

            @if (isEditMode && Model.IsAuthorShown)
            {

                @Html.TextBoxFor(m => m.Organizer, new { placeholder = Localization.EventSetOrganizerPlaceholder, id = "event-modal-organizer", disabled = true })
            }
            else
            {
                @Html.TextBoxFor(m => m.Organizer, new { placeholder = Localization.EventSetOrganizerPlaceholder, id = "event-modal-organizer" })
            }
        </div>

        <div class="event-modal-status-section">

            <div class="status-message">
                <div id="event-modal-status-section" class="display-none">
                    <div id="event-modal-icon" class="icon-place">

                    </div>
                    <div class="message">
                        <span id="error-mesage-modal">

                        </span>
                    </div>
                </div>
            </div>

            <div class="event-edit-buttons">
                @if (isEditMode)
                {
                    <button id="event-modal-submit" class="event-button-create">@Localization.ButtonSave</button>
                }
                else
                {
                    <button id="event-modal-submit" class="event-button-create">@Localization.ButtonCreate</button>
                }

            </div>

        </div>
    </div>
}

@Scripts.Render("~/bundles/scripts/event-popup")


<script type="text/javascript">

    setEventModalModel(
                 @(Model != null? Model.Id : 0),
                '@User.Identity.GetUserId()',
                '@User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"])',
                '@(Model != null? Model.ClassRoomId : 0)',
                convertToDateObject('@(Model != null ? Model.BeginingDate.ToString("yyyy-MM-dd-HH-mm") : "")'),
                convertToDateObject('@(Model != null ? Model.EndingDate.ToString("yyyy-MM-dd-HH-mm") : "")')
                );

    roomeventPoputCrudInit('@isEditMode');

</script>