@model SofthemeClassBooking_BOL.Contract.IClassRoom


<div class="plan-room-popup-info">

    <div class="plan-room-popup-info-section">
        <img src="~/Content/images/addinfo/icon-table.png" />
    </div>
    <div class="plan-room-popup-info-count">
        <span>@Model.Capacity</span>
    </div>
    <div class="plan-room-popup-info-section">
        <img src="~/Content/images/addinfo/icon-board.png" />
    </div>
    <div class="plan-room-popup-info-count">
        <span>@Model.QuantityOfBoards</span>
    </div>
    <div class="plan-room-popup-info-section">
        <img src="~/Content/images/addinfo/icon-laptop.png" />
    </div>
    <div class="plan-room-popup-info-count">
        <span>@Model.QuantityOfLaptops</span>
    </div>
    <div class="plan-room-popup-info-section">
        <img src="~/Content/images/addinfo/icon-print.png" />
    </div>
    <div class="plan-room-popup-info-count">
        <span>@Model.QuantityOfPrinters</span>
    </div>
    <div class="plan-room-popup-info-section">
        <img src="~/Content/images/addinfo/icon-proect.png" />
    </div>
    <div class="plan-room-popup-info-count">
        <span>@Model.QuantityOfTables</span>
    </div>

</div>


<!--Addmin part-->

<!--

<div class="plan-room-popup-edit-info">

    <div class="plan-room-popup-edit-up">
        <div class="plan-room-popup-edit-name">
            <label for="plan-edit-roomname">Название:</label>
            <input id="plan-edit-roomname" class="plan-room-popup-edit-roomname" type="text" />
        </div>
        <div class="plan-room-popup-buttons">
            <button type="submit" class="plan-room-popup-buttons-cancel">Отменить</button>
            <button class="plan-room-popup-buttons-ok">Сохранить</button>
        </div>
    </div>

    <div class="plan-room-popup-edit-bottom">
        <div class="plan-room-popup-info-section">
            <img src="icon-table.png" />
        </div>
        <div class="plan-room-popup-edit-info-count">
            <input class="plan-room-popup-edit-count" type="text" />
        </div>
        <div class="plan-room-popup-info-section">
            <img src="icon-board.png" />
        </div>
        <div class="plan-room-popup-edit-info-count">
            <input class="plan-room-popup-edit-count" type="text" />
        </div>
        <div class="plan-room-popup-info-section">
            <img src="icon-laptop.png" />
        </div>
        <div class="plan-room-popup-edit-info-count">
            <input class="plan-room-popup-edit-count" type="text" />
        </div>
        <div class="plan-room-popup-info-section">
            <img src="icon-print.png" />
        </div>
        <div class="plan-room-popup-edit-info-count">
            <input class="plan-room-popup-edit-count" type="text" />
        </div>
        <div class="plan-room-popup-info-section">
            <img src="icon-proect.png" />
        </div>
        <div class="plan-room-popup-edit-info-count">
            <input class="plan-room-popup-edit-count" type="text" />
        </div>
    </div>

</div>
    
    -->