@model SofthemeClassBooking_BOL.Contract.Models.IClassRoom

@using (Html.BeginForm("Edit", "Classroom", FormMethod.Post, new { role = "form", id = "roomChange", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)

    <div class="plan-room-popup-edit-info">

        <div class="plan-room-popup-edit-up">
            <div class="plan-room-popup-edit-name">
                <label for="plan-edit-roomname">Название:</label>
                @Html.TextBoxFor(m => m.Name, new { id = "roomName", @class = "plan-room-popup-edit-roomname" })
            </div>
            <div class="plan-room-popup-buttons">
                <button id="plan-room-edit-cancel" type="button" class="plan-room-popup-buttons-cancel">Отменить</button>
                <button id="plan-room-edit-submit" type="submit" class="plan-room-popup-buttons-ok">Сохранить</button>
            </div>
        </div>

        <div class="plan-room-popup-edit-bottom">
            <div class="plan-room-popup-info-section">
                <img src="/Content/images/addInfo/icon-table.png" />
            </div>
            <div class="plan-room-popup-edit-info-count">
                @Html.TextBoxFor(m => m.Capacity, new { id = "roomCapacity", @class = "plan-room-popup-edit-count" })
            </div>
            <div class="plan-room-popup-info-section">
                <img src="/Content/images/addInfo/icon-board.png" />
            </div>
            <div class="plan-room-popup-edit-info-count">
                @Html.TextBoxFor(m => m.QuantityOfBoards, new { id = "roomBoards", @class = "plan-room-popup-edit-count" })
            </div>
            <div class="plan-room-popup-info-section">
                <img src="/Content/images/addInfo/icon-laptop.png" />
            </div>
            <div class="plan-room-popup-edit-info-count">
                @Html.TextBoxFor(m => m.QuantityOfLaptops, new { id = "roomLaptop", @class = "plan-room-popup-edit-count" })
            </div>
            <div class="plan-room-popup-info-section">
                <img src="/Content/images/addInfo/icon-print.png" />
            </div>
            <div class="plan-room-popup-edit-info-count">
                @Html.TextBoxFor(m => m.QuantityOfPrinters, new { id = "roomPrinter", @class = "plan-room-popup-edit-count" })
            </div>
            <div class="plan-room-popup-info-section">
                <img src="/Content/images/addInfo/icon-proect.png" />
            </div>
            <div class="plan-room-popup-edit-info-count">
                @Html.TextBoxFor(m => m.QuantityOfTables, new { id = "roomTables", @class = "plan-room-popup-edit-count" })
            </div>
        </div>

    </div>
}