@model IEnumerable<SofthemeClassBooking_BOL.Contract.IClassRoom>


@foreach (var classroom in Model)
{
    var nameParts = classroom.Name.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
    var className = classroom.IsLocked ? String.Empty : "-available";
    var english = classroom.Id == 8 ? "plan-room-text-8" : "plan-room-text";

    <div class="plan-wrapper">

        <div class="plan-room-position-@classroom.Id">
            <div id="@classroom.Id" class="plan-room-@classroom.Id@className plan-room @className">
                @if (nameParts.Length > 0)
                {

                    <span class="@english">
                        @for (int i = 0; i < nameParts.Length; i++)
                        {
                            if (i >= 1)
                            { <br /> }
                            <span>@nameParts[i]</span>
                        }
                    </span>
                }
            </div>
        </div>
       
    </div>
}


<div class="plan-walls-background"></div>

<div id="plan-room-line"></div>

<div style="position: relative">
    <div id="show" style="position: absolute; top: 424px; left: 458px;">

    </div>
</div>

<script type="text/javascript">

        $(document).on("mouseover", ".plan-room", function () {

            if ($(this).hasClass('-available')) {

                var roomId = $(this).attr('id');
                $('#show').show();
                $.ajax({
                    url: '@Url.Action("AdditionalInfo", "Classroom")' + '/' + roomId,
                    method: 'GET',
                    cache: false,
                    dataType: 'html',

                    success: function (result) {
                        $('#show').html(result);
                        $('#plan-room-line').attr('class','plan-room-line-detail-' + roomId);
                        $('#plan-room-line').show();
                    },

                });

            }

        }).on("mouseleave", ".plan-room", function () {
            $('#plan-room-line').hide();
            $('#plan-room-line').attr('class', '');
            $('#show').hide();
            console.log(1);
        });

</script>