@model SofthemeClassBooking_BOL.Contract.IClassRoom

@{
    ViewBag.Title = "RoomPage";
}

@section stylesUp {
    @Styles.Render("~/Styles/plan")
}

<div style="position: relative;">

    <div id="plan-section">
        <div id="plan-loading">
            <div class="plan-loading-section">
                <div>Загрузка плана этажа...</div>
                <div>
                    <img src="~/Content/images/gif/ajax-loader.gif" />
                </div>
            </div>
        </div>
    </div>

    <div class="plan-room-edit-buttons-position ">
        <div class="plan-room-edit-buttons">
            @if (@Model.IsLocked)
            {
                <button id="plan-room-edit-open" class="plan-room-edit-buttons-up">Открыть</button>
            }
            else
            {
                <button id="plan-room-edit-close" class="plan-room-edit-buttons-up">Закрыть</button>
            }
            <button id="plan-room-edit-change" class="plan-room-edit-buttons-down">Изменить</button>
        </div>
    </div>

</div>



<script type="text/javascript">
    $(document)
        .ready(function () {
            $('.plan-room-edit-buttons-position').hide(),
            $.ajax({
                url: '@Url.Action("Index", "Classroom")',
                method: 'GET',
                cache: false,
                dataType: 'html',

                success: function (result) {
                    $('#plan-section').html(result);
                    $('.plan-room-edit-buttons-position').show();
                    $('#plan-room-path').addClass('plan-room-path-@Model.Id');
                    $('#@Model.Id').addClass('plan-room-@Model.Id-busy');
                    $('#@Model.Id').removeClass('plan-room-@Model.Id-available');
                },

                error: function (result) {
                    $('#plan-section').html(result);
                },

                function() {
                    $('#plan-loading').hide();
                }
            });
        });

    $(document)
        .ready(function() {
            var isLocked = '@Model.IsLocked';
            if (isLocked !== 'True') {
                loadAdditionalInfo(false);
            }
        });

    function loadAdditionalInfo(change) {

        var urlTarget;
        var showClass;
        if (change === true) {
            urlTarget = '@Url.Action("AdditionalInfo", "Classroom", new {id = Model.Id, isChange = true})';
            showClass = 'plan-show-additional-info-detail';
        } else {
            urlTarget = '@Url.Action("AdditionalInfo", "Classroom", new {id = Model.Id})';
            showClass = 'plan-show-additional-info-short';
        }


        $.ajax({
            url: urlTarget,
            method: 'GET',
            data: 'html',

            success: function (result) {
                $('#show').attr('class', showClass);
                $('#show').html(result);
                $('#plan-room-line').attr('class', 'plan-room-line-detail-' + @Model.Id);
                $('#plan-room-line').show();
            }

        });
    }

    $('#plan-room-edit-open')
        .click(function () {
            $.ajax({
                url: '@Url.Action("ChangeStatus","Classroom")',
                method: 'POST',
                data: { 'Id' : '@Model.Id', 'ClassRoomStatus' : 0 },
                dataType: 'json',

                error: function (response) {
                    alert("Щось пішло не так");
                },
                success: function (response) {
                    location.reload();
                }
            });
        });

    $('#plan-room-edit-close')
    .click(function () {
        $.ajax({
            url: '@Url.Action("ChangeStatus","Classroom")',
            method: 'POST',
            data: { 'Id': '@Model.Id', 'ClassRoomStatus': 1 },
            dataType: 'json',

            error: function (response) {
                alert("Щось пішло не так");
            },
            success: function (response) {
                location.reload();
            }
        });
    });

    $('#plan-room-edit-change')
        .click(function() {
            loadAdditionalInfo(true);
        });

    $(document).on('click','#plan-room-edit-cancel', function() {
        $('#show').empty();
        $('#plan-room-line').attr('class','');
        var isLocked = '@Model.IsLocked';
        if (isLocked !== 'True') {
            loadAdditionalInfo(false);
        }
    })

    $(document).on('click','#plan-room-edit-cancel', function() {
        $('#show').empty();
        $('#plan-room-line').attr('class','');
        var isLocked = '@Model.IsLocked';
        if (isLocked !== 'True') {
            loadAdditionalInfo(false);
        }
    })

    $(document).on('click','#plan-room-edit-submit', function(e) {
             e.preventDefault();
                 $.ajax({
                     url: '@Url.Action("ChangeInfo")',
                     method: 'POST',
                     data: $('#roomChange').serialize(),
                     dataType: 'json',
                     success: function (result) {
                         alert('updated!');
                         var isLocked = '@Model.IsLocked';
                         if (isLocked !== 'True') {
                             loadAdditionalInfo(false);
                         }
                     }
                 });
         });

</script>