@using System.Web.Configuration
@model SofthemeClassBooking_BOL.Contract.Models.IClassRoom

@{
    ViewBag.Title = Model.Name;
}

@section stylesDeclarationInHeader {
    @Styles.Render("~/bundles/styles/plan")
    @Styles.Render("~/bundles/styles/roompage")
    @Styles.Render("~/bundles/styles/roomevent")
}

@section scriptDeclarationInHeader
{
    @Scripts.Render("~/bundles/scripts/roompage")
}

<div style="position: relative;">

    <div id="plan-section" class="plan-section">
        <div id="plan-loading">
            <div class="plan-loading-section">
                <div>Загрузка плана этажа...</div>
                <div>
                    <img src="~/Content/images/gif/ajax-loader.gif" />
                </div>
            </div>
        </div>
    </div>

    @if (User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"]))
    {
        <div class="plan-room-edit-buttons-position ">
            <div class="plan-room-edit-buttons">
                @if (@Model.IsLocked)
                {
                    <button id="plan-room-edit-open" class="plan-room-edit-buttons-up">@Localization.ButtonOpen</button>
                }
                else
                {
                    <button id="plan-room-edit-close" class="plan-room-edit-buttons-up">@Localization.ButtonClose</button>
                }
                <button id="plan-room-edit-change" class="plan-room-edit-buttons-down">@Localization.ButtonEdit</button>
            </div>
        </div>
    }

</div>

@if (!Model.IsLocked)
{

    <div class="roompage-calendar-header noselect-text">
        <i id="roompage-before-day" class="fa fa-caret fa-caret-left" aria-hidden="true"></i>
        <div id="roompage-date" class="text"></div>
        <i id="roompage-next-day" class="fa fa-caret fa-caret-right" aria-hidden="true"></i>
    </div>

    <div class="roompage-calendar noselect-text">
        <div class="tableWrap">
            <table id="table-roompageCalendar">
                <tr id="roompage-calendar-header" class="roompage-calendar-header"></tr>
            </table>
        </div>

        <div id="roompage-today" class="roompage-today">
            <div id="roompage-calendar-today" class="text"></div>
        </div>
    </div>

}



<div id="map-section">
    <div id="map-loading">
        <div class="plan-loading-section">
            <div>@Localization.LoadingMapSection...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    classRoomDialogWindow = new DialogWindow ({
        title: '@Localization.DialogCancelRoomTitle',
        bodyMessage: '@Localization.DialogCancelRoomBody' });

    currentClassRoom = new ClassRoom(@Model.Id, '@Model.IsLocked');
    classRoomDialogWindow.setDialogAnswerNoHandler(cancelCloseClassRoom);
    classRoomDialogWindow.setDialogAnswerYesHandler(closeClassRoom);

    isUserAdmin = '@User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"])';

    (function ($, window, document) {

        $(function () {

            loadRoomPagePlanSection();
            roompageCalendarInit('@Localization.Now');

            renderSection('@Url.Action("MapPartial","Home")', $('#map-section'), $('#map-loading'));
        });
    }(window.jQuery, window, document));

</script>


@section scriptDeclarationAfterFooter {
    @Scripts.Render("~/bundles/scripts/map")
}