@using SofthemeClassBooking.Models
@model SofthemeClassBooking.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}

@section Title

{
    <p id="title"> Смена пароля </p>
}


            

            @using (Html.BeginForm("ForgotPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="registration-form-incorrect-block">
                    @Html.ValidationMessageFor(m => m.Email, "")
                </div>
                    <p style="text-align: center">Отправить запрос</p>
                    @Html.TextBoxFor(m => m.Email, new {id = "emailBox", placeholder = "Адрес электронной почты", type = "email"})
                    <input type="submit" class="button-refuse" value="Отправить" id="mysubmit">

             }
                  


             @section Menu
            {
                <p> @Html.ActionLink("Вход", "Index", "Login", null, new { style = "cursor: pointer;text-decoration: none;", @class = "notselect" })</p>

                <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new { style = "cursor: pointer; text-decoration: none;", @class = "notselect" })</p>

                <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new { style = "cursor: pointer;text-decoration: none;font-weight: bold", @class = "select" })</p>
              }

<script>
    $(document)
        .ready(function () {

            var form = $("#Login");
            var isEmailValid;
            var email = $("#emailBox");
        

            email.blur(function () {
                isEmailValid = email.valid();
            });
            email.keyup(function () {
                isEmailValid = email.valid();
            });

           

            $("#emailBox").keyup(function () {
                if (isEmailValid) {
                    $("#mysubmit").addClass("button-OK");
                    $("#mysubmit").removeClass("button-refuse");

                } else {
                    $("#mysubmit").addClass("button-refuse");
                    $("#mysubmit").removeClass("button-OK");
                }
            });
            $("#emailBox, #Password").blur(function () {
                if (isEmailValid) {
                    $("#mysubmit").addClass("button-OK");
                    $("#mysubmit").removeClass("button-refuse");

                } else {
                    $("#mysubmit").addClass("button-refuse");
                    $("#mysubmit").removeClass("button-OK");
                }
            });
        });

</script>



@Scripts.Render("~/bundles/jqueryval")


