@using SofthemeClassBooking.Models
@model SofthemeClassBooking.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}

@section Title

{
    <p  id="title" class="forgot-password-title"> Смена пароля </p>
}

            @using (Html.BeginForm("ForgotPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "ForgotPassword", @class = "form-horizontal", role = "form", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()

                <div id="result-message" class="registration-inner-error">
                    @if (ViewData["ForgotPassword"] != null)
                    {
                        <img id="ErrorImage" style="position: relative;top: -9px;" src="/Content/images/bigdanger.png" />
                    }
                    <span style="float: none; font-size: 12px"> @Html.ValidationSummary(true)</span>
                </div>
                <p>Отправить запрос о смене пароля</p>
            <div class="registration-form-incorrect-block">
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "registration-form-incorrect-block" })
            </div>
                    @Html.TextBoxFor(m => m.Email, new {id = "emailBox", placeholder = "Адрес электронной почты", type = "email"})
                    <input type="submit" class="button-refuse" value="Отправить" id="mysubmit">
             }
                  


             @section Menu
            {
                <p> @Html.ActionLink("Вход", "Index", "Login", null, new {  @class = "notselect" })</p>

                <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new {  @class = "notselect" })</p>

                <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new {  @class = "select" })</p>
              }

<script>
    $(document)
        .ready(function () {

           
            var isEmailValid;
            var email = $("#emailBox");
        

            email.blur(function () {
                isEmailValid = email.valid();
            });
            email.keyup(function () {
                isEmailValid = email.valid();
            });

           

            $("#emailBox").keyup(function () {
                if (isEmailValid) {
                    $("#mysubmit").addClass("button-OK");
                    $("#mysubmit").removeClass("button-refuse");

                } else {
                    $("#mysubmit").addClass("button-refuse");
                    $("#mysubmit").removeClass("button-OK");
                }
            });
            $("#emailBox").blur(function () {
                if (isEmailValid) {
                    $("#mysubmit").addClass("button-OK");
                    $("#mysubmit").removeClass("button-refuse");

                } else {
                    $("#mysubmit").addClass("button-refuse");
                    $("#mysubmit").removeClass("button-OK");
                }
            });
        });

</script>



@Scripts.Render("~/bundles/scripts/jqueryval")


