@using SofthemeClassBooking.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}


        @section Title
        {
            <p  id="title" style="margin-left: 445px">  Вход </p>
        }
        @section Menu
        {
            <p>@Html.ActionLink("Вход", "Index", "Login", null, new {  @class = "select" })</p>
            <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new { @class = "notselect" })</p>
            <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new {  @class = "notselect" })</p>
        }

                  @using (Html.BeginForm("SofthemeLogin", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "Login", role = "form", autocomplete = "off" }))
                  {
                                          
                      <div id="result-message"  class="registration-inner-error">
                         @if (ViewData["Login"] != null)
                         {
                             <img id="ErrorImage" src="/Content/images/bigdanger.png"/>
                         }

                            <span style="float: none;font-size:12px"> @Html.ValidationSummary(true)</span>
                      </div>
                      
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Адрес электронной почты", @id = "emailBox", type= "email" })
                     
                    @Html.TextBoxFor(m => m.Password, new { @id = "Password", placeholder = "Пароль", type = "password" })
                 <div style="height:8px"></div>
                    <input type="submit" class="button-refuse" value="Войти" id="mysubmit">
                  }
          
        

@Scripts.Render("~/bundles/scripts/jqueryval")

<script>
    $(document)
        .ready(function () {
           
          
           
            var form = $("#Login");
            var isEmailValid,
                isPasswordVaild;
            var email = $("#emailBox");
            var password = $("#Password");
            isEmailValid = email.valid();
            isPasswordVaild = password.valid();
            email.blur(function() {
                isEmailValid = email.valid();
            });
            email.keyup(function () {
                isEmailValid = email.valid();
            });

            password.blur(function () {
                isPasswordVaild = password.valid();
            });
            password.keyup(function () {
                isPasswordVaild = password.valid();
            });

       
            $("#emailBox, #Password").keyup(function () {
                if (isEmailValid &&
                    isPasswordVaild) {

                    $("#mysubmit").addClass("button-OK");
                    $("#mysubmit").removeClass("button-refuse");

                } else {
                    $("#mysubmit").addClass("button-refuse");
                    $("#mysubmit").removeClass("button-OK");
                }
            });
            $("#emailBox, #Password").blur(function () {
                if (isEmailValid &&
                    isPasswordVaild) {
                    $("#mysubmit").addClass("button-OK");
                    $("#mysubmit").removeClass("button-refuse");

                } else {
                    $("#mysubmit").addClass("button-refuse");
                    $("#mysubmit").removeClass("button-OK");
                }
            });
        });

</script>
