@using SofthemeClassBooking.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}


        @section Title
        {
            <p id="title"> Вход </p>
        }
        @section Menu
        {
            <p>@Html.ActionLink("Вход", "Index", "Login", null, new { style = "cursor: pointer;text-decoration: none;font-weight: bold", @class = "select" })</p>
            <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new { style = "cursor: pointer; text-decoration: none;", @class = "notselect" })</p>
            <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new { style = "cursor: pointer; text-decoration: none;", @class = "notselect" })</p>
        }

                  @using (Html.BeginForm("SofthemeLogin", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "Login", role = "form" }))
                  {
                      
                      <div id="result-message" class="registration-inner-error">
                          <img style="background:green" id="ErrorImage" src="~/Content/images/bigdanger.png" />
                            <span style="float: none;font-size:12px"> @Html.ValidationSummary()</span>
                        
                          
                          
                      </div>
                      <br/>
                    @Html.AntiForgeryToken()
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Адрес электронной почты", @id = "emailBox" })
                    @Html.TextBoxFor(m => m.Password, new { @id = "Password", placeholder = "Пароль", type = "password" })
                    <input type="submit" class="button-refuse" value="Войти" id="mysubmit">
                  }
          
        

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#emailBox").blur
    (function ()
    {
        if ($('#Login').valid())
        {
            $("#mysubmit").toggleClass("button-refuse button-OK");
            alert("message");
        }
        else

        {
            $("#mysubmit").toggleClass("button-OK button-refuse");
            alert("message2");
        }

    });

</script>

