
@{
    ViewBag.Title = "ConfirmChangePassword";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}
@model SofthemeClassBooking.Models.ResetPasswordViewModel


@section Title
{
    <p id="title" class="forgot-password-title">  Смена пароля </p>
}

            


           @using (Html.BeginForm("ResetPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { id="ResetPassword", @class = "form-horizontal", role = "form" }))
           {   
            @Html.AntiForgeryToken()
               
    <div class="registration-form-incorrect-block">
        @Html.ValidationSummary()
    </div>
               @Html.HiddenFor(m=>m.Email)
               @Html.HiddenFor(m => m.Code)
    <div class="registration-form-incorrect-block">
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "registration-form-incorrect-block" })
    </div>
        @Html.TextBoxFor(m => m.Password, new { @id = "Password", placeholder = "Пароль", type = "password" })
    <div class="registration-form-incorrect-block">
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "registration-form-incorrect-block" })
    </div>
        @Html.TextBoxFor(m => m.ConfirmPassword, new {@id="ConfirmPassword", placeholder = "Пароль", type = "password" })
        <input  class="button-refuse" type="submit" value="Сохранить" id="mysubmit" />
   
        }


        @section Menu
            {
            <p> @Html.ActionLink("Вход", "Index", "Login", null, new {  @class = "notselect" })</p>

            <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new { @class = "notselect" })</p>

            <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new { @class = "select" })</p>

        }

        @Scripts.Render("~/bundles/jqueryval")

<script>
        $(document)
            .ready(function () {


                var isPasswordVaild,isPasswordConfirmValid;
                var password = $("#Password");
                var confirmPassword = $("#ConfirmPassword");

               

                password.blur(function () {
                    isPasswordVaild = password.valid();
                });
                password.keyup(function () {
                    isPasswordVaild = password.valid();
                });

                confirmPassword.blur(function () {
                    isPasswordConfirmValid =confirmPassword.valid();
                });
                confirmPassword.keyup(function () {
                    isPasswordConfirmValid = confirmPassword.valid();
                });


                $(" #Password,#ConfirmPassword").keyup(function () {
                    if ( isPasswordVaild && isPasswordConfirmValid) {
                        $("#mysubmit").addClass("button-OK");
                        $("#mysubmit").removeClass("button-refuse");

                    } else {
                        $("#mysubmit").addClass("button-refuse");
                        $("#mysubmit").removeClass("button-OK");
                    }
                });
                $("#emailBox, #Password,#ConfirmPassword").blur(function () {
                    if (isPasswordVaild && isPasswordConfirmValid ) {
                        $("#mysubmit").addClass("button-OK");
                        $("#mysubmit").removeClass("button-refuse");

                    } else {
                        $("#mysubmit").addClass("button-refuse");
                        $("#mysubmit").removeClass("button-OK");
                    }
                });
            });

    </script>






