
@{
    ViewBag.Title = "SofthemeRegistration";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}

@using SofthemeClassBooking.Models
@model RegisterViewModel


<div>
    <div class="registration-wrapper">
        <div class="registration-parallelogram">
            <div class="registration-inner-inner-parallelogram">
            </div>

            <div class="registration-inner-parallelogram">
                <p id="title"> Регистрация </p>

                <div class="registration-inner-inner-parallelogram2">
                </div>

            </div>

            <div class="registration-form">


                @using (Html.BeginForm("SofthemeRegistration", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Имя Фамилия" })
                    @Html.ValidationMessageFor(m => m.Email, "")
                    @Html.TextBoxFor(m => m.Email, new { placeholder = "Адрес электронной почты" })
                    @Html.ValidationMessageFor(m => m.Password, "");
                    @Html.TextBoxFor(m => m.Password, new { placeholder = "Пароль", type = "password" })
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Повторить пароль", type = "password" })

                    <input style="width:auto" type="submit" value="Зарегистрироваться" id="mysubmit" />


                }

            </div>
        </div>
        <div class="registration-logo">
            <<a href="@Url.Action("Index", "Home")">
                <img width="162px" src="~/Content/images/logo.png"> </img>
            </a>
            <br>
            <br>
            <!-- 552 596 -->
            <hr id="hr-style">
            <br>
            <p>
                <a id="Enter" class="registration-notselect"><strong>Вход</strong></a>
            </p>
            <p> <a id="Registration" class="registration-select"><strong>Регистрация</strong></a></p>
            <p><strong><a id="ChangePassword" class="registration-notselect">Смена пароля</a></strong></p>


        </div>
    </div>
</div>
<script>


    $(function () {
        $("#Enter").on('click', function () {
            $.get('@Url.Action("Enter")').done(function (result) {
                $('form').html(result);
                if ($('#Enter').hasClass('registration-notselect')) {
                    $('#Enter').removeClass('registration-notselect')
                    $('#Enter').addClass('registration-select');
                }

                if ($('#Registration').hasClass('registration-select')) {
                    $('#Registration').removeClass('registration-select');
                    $('#Registration').addClass('registration-notselect');
                }
                if ($('#ChangePassword').hasClass('registration-select')) {
                    $('#ChangePassword').removeClass('registration-select');
                    $('#ChangePassword').addClass('registration-notselect');
                }
                $("#title").text("Вход");
            });

        });
    })
    $(function () {
        $("#Registration").on('click', function () {
            $.get('@Url.Action("Registration")').done(function (result) {
                $('form').html(result);
                if ($('#Registration').hasClass('registration-notselect')) {
                    $('#Registration').removeClass('registration-notselect')
                    $('#Registration').addClass('registration-select');
                }
                if ($('#Enter').hasClass('registration-select')) {
                    $('#Enter').removeClass('registration-select');
                    $('#Enter').addClass('registration-notselect');
                }
                if ($('#ChangePassword').hasClass('registration-select')) {
                    $('#ChangePassword').removeClass('registration-select');
                    $('#ChangePassword').addClass('registration-notselect');
                }
                $("#title").text("Регистрация");

            });

        });
    })
    $(function () {
        $("#ChangePassword").on('click', function () {
            $.get('@Url.Action("ChangePassword")').done(function (result) {
                $('form').html(result);
                if ($('#ChangePassword').hasClass('registration-notselect')) {
                    $('#ChangePassword').removeClass('registration-notselect')
                    $('#ChangePassword').addClass('registration-select');
                }
                if ($('#Enter').hasClass('registration-select')) {
                    $('#Enter').removeClass('registration-select');
                    $('#Enter').addClass('registration-notselect');
                }
                if ($('#Registration').hasClass('registration-select')) {
                    $('#Registration').removeClass('registration-select');
                    $('#Registration').addClass('registration-notselect');
                }
                $("#title").text("Смена пароля");

            });

        });
    })
</script>

