 @model SofthemeClassBooking.Models.ChangeUserNameEmail
<div class="changeuser">
    @if (@User.IsInRole("user"))
    {
        using (Html.BeginForm("SaveChangeUserNameEmail", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "Login", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.IsAdmin)
            @Html.TextBoxFor(m => m.UserName, new {placeholder = "Имя Фамилия", @id = "Name", type = "text"})
            @Html.TextBoxFor(m => m.Email, new {@id = "Email", placeholder = "Адрес электронной почты", type = "email"})
            <input type="submit" class="button-refuse" value="Сохранить" id="changeName">

        }
    }
    else
        if (User.IsInRole("admin"))
        {
            using (Html.BeginForm("SaveChangeUserNameEmail", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "AdminForm", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Имя Фамилия", @id = "Name", type = "text" })
                @Html.TextBoxFor(m => m.Email, new { @id = "Email", placeholder = "Адрес электронной почты", type = "email" })
                <div id="Admin_toogle">
                    <div class="checkbox-slider">

                        <input id="IsAdmin" name="IsParticipantsAllowed" type="checkbox" value="true">
                        <label for="IsAdmin"></label>
                        <input name="IsAdmin" id="IsAdmin" type="hidden" >

                    </div>
                    <span>Администратор</span>
                </div>
                 <input type="submit" class="button-refuse" value="Сохранить" id="changeName">

            }


        }
            </div>
<script>
    $(document)
        .ready(function() {
            var userName = $("#Name");
            var email = $("#Email");
            var isAdmin = $("#IsAdmin");
            if (userName.valid() && email.valid()) {
                $("#changeName").addClass("button-OK");
                $("#changeName").removeClass("button-refuse");
                $("#changeName").color = "white";
            } else {
                $("#changeName").addClass("button-refuse");
                $("#changeName").removeClass("button-OK");
                $("#changeName").color="#6A7179";
            }

            var isUserNameValid;
            var isEmailValid;

            userName.blur(function() {
                isUserNameValid = userName.valid();
            });
            userName.keyup(function() {
                isUserNameValid = userName.valid();
            });

            email.blur(function() {
                isEmailValid = email.valid();
            });
            email.keyup(function() {
                isEmailValid = email.valid();
            });


            $("#Name, #Email")
                .keyup(function() {
                    if (isUserNameValid && isEmailValid) {

                        $("#changeName").addClass("button-OK");
                        $("#changeName").removeClass("button-refuse");
                        $("#changeName").css('color', 'white');

                    } else {
                        $("#changeName").addClass("button-refuse");
                        $("#changeName").removeClass("button-OK");
                        $("#changeName").color = "#6A7179";
                        $("#changeName").css('color', "#6A7179");
                    }
                });
            $("#Name, #Email")
                .blur(function() {
                    if (isUserNameValid && isEmailValid) {

                        $("#changeName").addClass("button-OK");
                        $("#changeName").removeClass("button-refuse");
                        $("#changeName").css('color', 'white');
                    } else {
                        $("#changeName").addClass("button-refuse");
                        $("#changeName").removeClass("button-OK");
                        $("#changeName").color = "#6A7179";
                        $("#changeName").css('color', "#6A7179");
                    }
                });
        });
  
   

</script>