@section stylesDeclarationInHeader {
    @Styles.Render("~/bundles/styles/plan")
}

<div id="plan-section">
    <div id="plan-loading">
        <div class="plan-loading-section">
            <div>Загрузка плана этажа...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" alt="loader" />
            </div>
        </div>
    </div>
</div>


<div id="roomevent-section" style="margin-left: 126px; padding-top: 25px;">
    <div id="roomevent-loading">
        <div class="roomevent-loading-section">
            <div>Загрузка рассписания...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>


<div id="map-section">
    <div id="map-loading">
        <div class="plan-loading-section">
            <div>Загрузка карты...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>

<div id="lock" class="modal-background"></div>
<div id="event-modal-position"></div>

<script type="text/javascript">

    // IIFE - Immediately Invoked Function Expression
    (function ($, window, document) {

        // The $ is now locally scoped
        // Listen for the jQuery ready event on the document
        $(function () {

            renderPlanSection('@Url.Action("Index", "Classroom")');
            renderMapSection('@Url.Action("MapPartial", "Home")');
            renderRoomEventSection('@Url.Action("Index", "RoomEvent")');

            setStandartPlanRoomEventHandlers(
                '@Url.Action("AdditionalInfo","Classroom")',
                '@Url.Action("RoomPage","Classroom")');

            setNavigarionEventHandlers('@Url.Action("Create","Event")');
            // The DOM is ready!

        });
        // The rest of the code goes here!
    }(window.jQuery, window, document));
    // The global jQuery object is passed as a parameter


</script>

@section scriptDeclarationAfterFooter {
    @Scripts.Render("~/bundles/scripts/jqueryval")
    @Scripts.Render("~/bundles/scripts/map")
}