@section stylesUp {
    @Styles.Render("~/Styles/plan")
}

<div id="plan-section">
    <div id="plan-loading">
        <div class="plan-loading-section">
            <div>Загрузка плана этажа...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>



<div id="roomevent-section" style="margin-left: 126px; padding-top: 25px;">
    <div id="roomevent-loading">
        <div class="roomevent-loading-section">
            <div>Загрузка рассписания...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>

<div id="map-section">
    <div id="map-loading">
        <div class="plan-loading-section">
            <div>Загрузка карты...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document)
        .ready(function () {
            $.ajax({
                url: '@Url.Action("Index", "Classroom")',
                method: 'GET',
                cache: false,
                dataType: 'html',

                success: function (result) {
                    $('#plan-section').html(result);
                },

                error: function(result) {
                    $('#plan-section').html(result);
                },

                function() {
                    $('#plan-loading').hide();
                }

            });


            $.ajax({
                url: '@Url.Action("MapPartial","Home")',
                method: 'GET',
                cache: false,
                dataType: 'html',

                success: function (result) {
                    $('#map-section').html(result);
                },

                error: function (result) {
                    $('#map-section').html(result);
                },

                function() {
                    $('#map-loading').hide();
                }

            });

            $.ajax({
                url: '@Url.Action("Index","Event")',
                method: 'GET',
                cache: false,
                dataType: 'html',

                success: function (result) {
                    $('#roomevent-section').html(result);
                    renderTime(5);
                    renderRooms(5);
                    renderCalendar(currentMonth);
                },

                error: function (result) {
                    $('#roomevent-section').html(result);
                },

                function() {
                    $('#roomevent-loading').hide();
                }

            });


        });

    $(document)
        .ready(function() {

            $(document).on('mouseover', '.plan-room', function () {

                if ($(this).hasClass('-available')) {

                    var roomId = $(this).attr('id');
                    $('#show').show();
                    $.ajax({
                        url: '@Url.Action("AdditionalInfo", "Classroom")' + '/' + roomId,
                        method: 'GET',
                        cache: false,
                        dataType: 'html',

                        success: function (result) {
                            $('#show').html(result);
                            $('#plan-room-line').attr('class', 'plan-room-line-detail-' + roomId);
                            $('#plan-room-line').show();
                        }

                    });
                }

            }).on('mouseleave', '.plan-room', function () {
                $('#plan-room-line').hide();
                $('#show').hide();
            });

        });


    $(document)
        .ready(function () {
            console.log(3);
            $(document).on('click', '.plan-room', function () {
                //if ($(this).hasClass('-available')) { when roles are applied. Now for admin only

                window.location.href = '/Classroom/RoomPage/' + $(this).attr('id');
                //}
            });
        });

</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/map")
}