@using Microsoft.AspNet.Identity
@model SofthemeClassBooking_BOL.Models.EventModel

@using (Html.BeginForm("Create", "Event", FormMethod.Post, new { id = "new-event-form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.BeginingDate, new { id = "event-new-beginingDate" })
    @Html.HiddenFor(m => m.EndingDate, new { id = "event-new-endingDate" })

    <div class="event-new">
        <div class="event-header-new noselect-text">
            <div class="event-header-title">
                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                <div class="text">@Localization.EventBookClassRoom</div>
                <i id="event-new-close" class="fa fa-remove" aria-hidden="true"></i>
            </div>
        </div>

        <div class="event-when noselect-text">
            <div id="event-date-error" class="error-message"> <img src="/Content/images/danger.png" /> Указана неверная дата и (или) время </div>

            <div class="text">
                @Localization.When
            </div>

            <div class="datetime">
                <div id="date-day-up-create" class="arrow-up"> <i class="fa fa-sort-up"></i> </div>
                <div id="date-day-value-create" class="value">18</div>
                <div id="date-day-down-create" class="arrow-down"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
            </div>

            <div class="datetime month-margin">
                <div id="date-month-up-create" class="arrow-up"> <i class="fa fa-sort-up"></i> </div>
                <div id="date-month-value-create" class="value">Мая</div>
                <div id="date-month-down-create" class="arrow-down"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
            </div>

            <div class="time-section">
                <div class="datetime">
                    <div id="timebegin-hours-up-create" class="arrow-up"> <i class="fa fa-sort-up"></i> </div>
                    <div id="timebegin-hours-value-create" class="value">18</div>
                    <div id="timebegin-hours-down-create" class="arrow-down"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                </div><!----><div class="delimeter">
                    :
                </div><!----><div class="datetime">
                    <div id="timebegin-minutes-up-create" class="arrow-up"> <i class="fa fa-sort-up"></i> </div>
                    <div id="timebegin-minutes-value-create" class="value">00</div>
                    <div id="timebegin-minutes-down-create" class="arrow-down"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                </div>

                <div class="delimeter">-</div>

                <div class="datetime">
                    <div id="timeend-hours-up-create" class="arrow-up"> <i class="fa fa-sort-up"></i> </div>
                    <div id="timeend-hours-value-create" class="value">19</div>
                    <div id="timeend-hours-down-create" class="arrow-down"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                </div><!----><div class="delimeter">
                    :
                </div><!----><div class="datetime">
                    <div id="timeend-minutes-up-create" class="arrow-up"> <i class="fa fa-sort-up"></i> </div>
                    <div id="timeend-minutes-value-create" class="value">00</div>
                    <div id="timeend-minutes-down-create" class="arrow-down"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                </div>
            </div>
        </div>


        <div class="event-where">
            <div class="text">
                @Localization.Where
            </div>

            <div class="select">
                <select name="ClassRoomId" id="event-new-classroom-list">  </select>

                <i class="fa fa-sort-desc" aria-hidden="true"> </i>
            </div>
        </div>

        <div class="title-section">
            <span id="event-title-error" class="error-message"> <img src="/Content/images/danger.png" /> @Localization.ErrorEmptyField </span>
            @Html.TextBoxFor(m => m.Title, new { placeholder = Localization.EventTitlePlaceholder, id = "event-new-title" })
        </div>

        @Html.TextAreaFor(m => m.Description, new { placeholder = Localization.EventAdditionalInfoPlaceholder })

        <div class="event-param-line noselect-text">

            <div class="checkbox">
                <input id="IsParticipantsAllowed" name="IsParticipantsAllowed" type="checkbox" value="true">
                <label for="IsParticipantsAllowed"></label>
                <input name="IsParticipantsAllowed" type="hidden" value="false">
            </div>

            <div class="text">@Localization.EventRegisterParticipants</div>
            <div class="text public">@Localization.EventPublic</div>

            <div class="checkbox-slider">
                <input id="IsPrivate" name="IsPrivate" type="checkbox" value="true">
                <label for="IsPrivate"></label>
                <input name="IsPrivate" type="hidden" value="false">
            </div>

            <div class="text private">@Localization.EventPrivate</div>

        </div>

        <div class="event-param-line second noselect-text">

            <div class="checkbox">

                <input id="IsAuthorShown-new" name="IsAuthorShown" type="checkbox" value="true">
                <label for="IsAuthorShown-new"></label>
                <input name="IsAuthorShown-new" type="hidden" value="false">

            </div>

            <div class="text">@Localization.EventShowAuthor</div>
            <div class="text or">@Localization.Or</div>
            @Html.TextBoxFor(m => m.Organizer, new { placeholder = Localization.EventSetOrganizerPlaceholder, id="event-new-organizer" })
        </div>


        <div id="submit-section" class="submit-section">

            <div class="status-message">
                <div id="event-new-status-section" class="display-none">
                    <div class="icon-place">
                    </div>
                    <div class="message">
                        <span id="error-mesage"></span>
                    </div>
                </div>
            </div>

            <button id="event-new-submit" type="button" class="save">@Localization.ButtonCreate</button>
        </div>

    </div>

}

@Scripts.Render("~/bundles/scripts/event-modal")


<script type="text/javascript">
    eventmodalCreateNewInit();

</script>