@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@model SofthemeClassBooking.Models.EventViewModel

@{
    ViewBag.Title = Model.Event.Title;
}

@section stylesDeclarationInHeader {
    @Styles.Render("~/bundles/styles/plan")
    @Styles.Render("~/bundles/styles/event")
}

@{
    var showEventOwner = Model.Event.IsAuthorShown ? Model.Author : Model.Event.Organizer;
    if ((showEventOwner == null) || (showEventOwner.Length == 0))
    {
        showEventOwner = Localization.ErrorNoAuthor;
    }

    var participantCount = Model.Participants.Count();
    var eventDescription = Model.Event.Description == null ? Localization.ErrorNoDescription : Model.Event.Description;
    var editAccess = (User.Identity.GetUserId() == Model.Event.UserId) ||
                     (User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"]));
    var eventPlanned = DateTime.Compare(Model.Event.EndingDate, DateTime.UtcNow.AddHours(2)) > 0;

    var participantCssClass = eventPlanned ? "participant" : "participant-took-part";
}

@section scriptDeclarationInHeader
{
    @Scripts.Render("~/bundles/scripts/calendar")
    @Scripts.Render("~/bundles/scripts/eventpage")
}
<div class="eventpage">
    <div class="eventpage-info">
        <form id="event-edit-info-form" method="post">

            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Event.BeginingDate)
            @Html.HiddenFor(m => m.Event.EndingDate)
            @Html.HiddenFor(m => m.Event.UserId)
            @Html.HiddenFor(m => m.Event.ClassRoomId)

            <div class="title">
                @Model.Event.Title
            </div>
            <div class="title-edit display-none">
                <div id="event-title-error" class="error-message"> <img src="/Content/images/danger.png" /> @Localization.ErrorEmptyField </div>
                @Html.TextBoxFor(m => m.Event.Title, new { placeholder = Localization.EventTitlePlaceholder, value = Model.Event.Title })
            </div>


            <div class="author noselect-text">
                <i class="fa fa-user"></i>
                <div class="event-creator-name">
                    @showEventOwner
                </div>
            </div>
            <div class="author-edit display-none">

                <div class="position">

                    <div class="checkbox">
                        @if (Model.Event.IsAuthorShown)
                        {
                            <input id="IsAuthorShown" name="IsAuthorShown" type="checkbox" class="checkbox" checked />
                        }
                        else
                        {
                            <input id="IsAuthorShown" name="IsAuthorShown" type="checkbox" class="checkbox" />
                        }
                        <label for="IsAuthorShown"></label>
                        <input name="IsAuthorShown" type="hidden" value="false">
                    </div>

                    <div class="label">@Localization.EventShowAuthor</div>
                    <div class="or">@Localization.Or</div>
                    
                    @if (Model.Event.IsAuthorShown)
                    {
                        @Html.TextBoxFor(m => m.Event.Organizer, new { placeholder = Localization.EventSetOrganizerPlaceholder, value = Model.Event.Organizer, disabled = true })
                    }
                    else
                    {
                        @Html.TextBoxFor(m => m.Event.Organizer, new { placeholder = Localization.EventSetOrganizerPlaceholder, value = Model.Event.Organizer })
                    }

                </div>

            </div>

            <div class="description">
                <span><pre>@eventDescription</pre></span>
            </div>
            <div class="description-edit display-none">
                @Html.TextAreaFor(m => m.Event.Description, new { placeholder = Localization.EventAdditionalInfoPlaceholder })
            </div>

            @if (Model.Event.IsParticipantsAllowed && !Model.Event.IsPrivate)
            {

                <div class="participant-add">

                    @if (eventPlanned)
                    {
                        <div class="text">@Localization.EventPlanningTakePart<span id="event-participant-count">@participantCount</span> @Localization.People</div>

                        <input id="event-new-email-take-part" class="display-none" name="Email" type="text" placeholder="@Localization.ErrorEventAlreadyEnrolledPlaceholder" disabled />
                        <i id="event-new-remove-myself-submit" class="fa fa-minus fa-lg display-none"></i>

                        <div id="event-add-participant-form" class="div-wraper display-none">

                            <span>@Localization.EventParticipantJoin</span>
                            <input id="event-add-participant-email" name="Email" type="text" placeholder="@Localization.EventParticipantJoinPlaceholder" required />
                            <i id="event-add-participant-submit" class="fa fa-plus fa-lg"></i>
                            <input type="hidden" name="EventId" value="@Model.Event.Id" />
                            <div id="event-email-error-message" class="error-message-form noselect-text display-none">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                @Localization.ErrorEmail
                            </div>

                        </div>

                    }


                </div>
            }

            <div class="participants-edit display-none">
                <div class="position">
                    <div class="checkbox">
                        @if (Model.Event.IsParticipantsAllowed)
                        {
                            <input id="IsParticipantsAllowed" name="IsParticipantsAllowed" type="checkbox" value="true" checked />
                        }
                        else
                        {
                            <input id="IsParticipantsAllowed" name="IsParticipantsAllowed" type="checkbox" value="true" />
                        }
                        <label for="IsParticipantsAllowed"></label>
                        <input name="IsParticipantsAllowed" type="hidden" value="false">
                    </div>
                    <div class="label">@Localization.EventRegisterParticipants</div>
                    @if (Model.Event.IsParticipantsAllowed)
                    {
                        <div class="or">@Localization.EventPlanningTakePart <span>@participantCount</span> @Localization.People</div>
                    }


                </div>
            </div>

        </form>
    </div>

    <div class="eventpage-calendar-section noselect-text">

        <div class="eventpage-calendar">
            <div class="eventpage-calendar-header">

                <div class="datetime-section">
                    <i class="fa fa-calendar" aria-hidden="true"></i>

                    <div class="datetime datetime-first">
                        <div id="date-day-up" class="arrow-up date-edit invisible"> <i class="fa fa-sort-up"></i> </div>
                        <div id="date-day-value" class="value"></div>
                        <div id="date-day-down" class="arrow-down date-edit invisible"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                    </div> <!----><div class="delimeter delimeter-middle">
                        .
                    </div><!----><div class="datetime datetime-middle">
                        <div id="date-month-up" class="arrow-up date-edit invisible"> <i class="fa fa-sort-up"></i> </div>
                        <div id="date-month-value" class="value"></div>
                        <div id="date-month-down" class="arrow-down date-edit invisible"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                    </div><!----><div class="delimeter">
                        .
                    </div><!----><div class="datetime">
                        <div id="date-year-up" class="arrow-up date-edit invisible"> <i class="fa fa-sort-up"></i> </div>
                        <div id="date-year-value" class="value"></div>
                        <div id="date-year-down" class="arrow-down date-edit invisible"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                    </div>

                </div>


                <div class="datetime-section">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>


                    <div class="datetime datetime-first">
                        <div id="timebegin-hours-up" class="arrow-up date-edit invisible"> <i class="fa fa-sort-up"></i> </div>
                        <div id="timebegin-hours-value" class="value"></div>
                        <div id="timebegin-hours-down" class="arrow-down date-edit invisible"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                    </div> <!----><div class="delimeter-time">
                        :
                    </div><!----><div class="datetime datetime-time">
                        <div id="timebegin-minutes-up" class="arrow-up date-edit invisible"> <i class="fa fa-sort-up"></i> </div>
                        <div id="timebegin-minutes-value" class="value"></div>
                        <div id="timebegin-minutes-down" class="arrow-down date-edit invisible"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                    </div>
                    <div class="delimeter-time delimeter-hyphen">
                        -
                    </div>
                    <div class="datetime">
                        <div id="timeend-hours-up" class="arrow-up date-edit invisible"> <i class="fa fa-sort-up"></i> </div>
                        <div id="timeend-hours-value" class="value"></div>
                        <div id="timeend-hours-down" class="arrow-down date-edit invisible"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                    </div> <!----><div class="delimeter-time">
                        :
                    </div><!----><div class="datetime datetime-time">
                        <div id="timeend-minutes-up" class="arrow-up date-edit invisible"> <i class="fa fa-sort-up"></i> </div>
                        <div id="timeend-minutes-value" class="value"></div>
                        <div id="timeend-minutes-down" class="arrow-down date-edit invisible"> <i class="fa fa-sort-desc" aria-hidden="true"></i> </div>
                    </div>

                </div>
            </div>

            <div class="icon-section">
                <div class="icon-position">
                    <i class="fa fa-calendar-plus-o"></i>
                    <i class="fa fa-envelope-o"></i>
                    <i class="fa fa-print"></i>
                </div>
            </div>

            @if (editAccess)
            {
                using (Html.BeginForm(null, null, FormMethod.Post, new { id = "event-cancel-token" }))
                {
                    @Html.AntiForgeryToken()
                }

                <div class="button-section">

                    @if (eventPlanned)
                    {
                        <button id="change-cancel" class="cancel">
                            <span class="button-edit">@Localization.ButtonEdit</span>
                            <span class="button-edit-cancel display-none">@Localization.ButtonCancelation</span>
                        </button>
                        <button id="save-cancel-event" class="save">
                            <span class="button-cancel-event">@Localization.ButtonCancel</span>
                            <span class="button-save-event display-none">@Localization.ButtonSave</span>
                        </button>
                    }
                    else
                    {
                        <button id="change-cancel" class="cancel" disabled>
                            <span class="button-edit">@Localization.ButtonEdit</span>
                        </button>
                        <button id="save-cancel-event" class="save button-disabled" disabled>
                            <span class="button-cancel-event">@Localization.ButtonCancel</span>
                        </button>
                    }


                </div>

                <div id="eventedit-status" class="error-section display-none">
                    <div class="icon icon-place">
                        <i class="fa fa-frown-o"></i>
                    </div>

                    <div class="message">
                        <span id="error-message"></span>
                    </div>
                </div>
            }

            @if (!eventPlanned)
            {
                <div class="error-section">
                    <div class="icon icon-place">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>

                    <div class="message">
                        <span>@Localization.ErrorEventPassedPlaceholder</span>
                    </div>
                </div>
            }
        </div>

    </div>

    @if (editAccess && Model.Event.IsParticipantsAllowed && !Model.Event.IsPrivate)
    {
        <div class="participant-list">
            <div class="header">
                @if (eventPlanned)
                {

                    @Localization.EventRegistered
                    if (!Model.Event.IsParticipantsAllowed)
                    {
                        <text>(</text>
                        @Localization.EventOffRegistration
                        <text>)</text>
                    }
                }
                else
                {
                    @Localization.EventTookPart
                }
            </div>

            <div class="participant-section">

                @foreach (var participant in Model.Participants)
                {
                    <div class="participant-wrapper">
                        <div id="participant-@participant.Id" class="@participantCssClass">
                            <div class="circle"></div>
                            <div class="email">@participant.Email</div>
                            <i id="participant-@participant.Id-remove" class="fa fa-times participant-remove" aria-hidden="true"></i>
                        </div>
                    </div>
                }

            </div>
        </div>
    }



    <div id="plan-section" class="plan-section plan-section-event">
        <div id="plan-loading">
            <div class="plan-loading-section">
                <div>@Localization.LoadingPlanSection...</div>
                <div>
                    <img src="~/Content/images/gif/ajax-loader.gif" />
                </div>
            </div>
        </div>
    </div>


    <div class="eventpage-navigation">
        <div id="schedule-selected-room" class="eventpage-schedule-box">

            <div class="block">

                <div>
                    <div class="block-element dark"></div>
                    <div class="block-element dark"></div>
                </div>
                <div>
                    <div class="block-element dark"></div>
                    <div class="block-element light"></div>
                </div>

            </div>

            <div class="text">
                <div>@Localization.EventRoomSchedule</div>
                <div id="eventpage-room-name" class="second-line"></div>
            </div>

        </div>

        <div id="schedule-all-rooms" class="eventpage-schedule-box">

            <div class="block">

                <div>
                    <div class="block-element light"></div>
                    <div class="block-element light"></div>
                </div>
                <div>
                    <div class="block-element light"></div>
                    <div class="block-element light"></div>
                </div>

            </div>

            <div class="text">
                <div>@Localization.Schedule</div>
                <div class="second-line">всех аудиторий</div>
            </div>

        </div>

    </div>
</div>
<div id="map-section">
    <div id="map-loading">
        <div class="plan-loading-section">
            <div>@Localization.LoadingMapSection...</div>
            <div>
                <img src="~/Content/images/gif/ajax-loader.gif" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">


    eventPageDialogWindow = new DialogWindow({
        title: '@Localization.DialogCancelEventTitle',
        bodyMessage: ""
    });

    eventPageDialogWindow.setDialogAnswerNoHandler(cancelCancelEvent);
    eventPageDialogWindow.setDialogAnswerYesHandler(cancelEvent);

    (function ($, window, document) {

        $(function () {

            setEventPageModel(
                 @Model.Event.Id,
                '@User.Identity.GetUserId()',
                '@User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"])',
                '@Model.Event.ClassRoomId');


            isUserTakePart('@Url.Action("IsTakePart","Participant")', @Model.Event.Id);
            //datetime format MM/dd/yyyy HH:mm:SS
            var eventDateTimeBegin = convertToDateObject('@Model.Event.BeginingDate.ToString("yy-MM-dd-HH-mm")');
            var eventDateTimeEnd = convertToDateObject('@Model.Event.EndingDate.ToString("yy-MM-dd-HH-mm")');

            setDateTime(eventDateTimeBegin, eventDateTimeEnd);
            eventpageLoadSelectedClassRoom();

            $('#schedule-all-rooms').click(function () {
                window.location = '@Url.Action("Index","Home")';
            });

            $('#schedule-selected-room').click(function () {
                window.location = '@Url.Action("RoomPage","Classroom", new {id = Model.Event.ClassRoomId})';
            });

            renderSection('@Url.Action("MapPartial","Home")', $('#map-section'), $('#map-loading'));

        });

        // The rest of the code goes here!
    }(window.jQuery, window, document));

  
</script>

@section scriptDeclarationAfterFooter {
    @Scripts.Render("~/bundles/scripts/jqueryval")
    @Scripts.Render("~/bundles/scripts/map")
}
