@using Microsoft.AspNet.Identity
@using SofthemeClassBooking_BOL.Models
@model SofthemeClassBooking.Models.EventViewModel
@{
    var eventPage = Url.Action("Index", "Event") + "/" + Model.Event.Id;
}

<div class="event event-public">
    
    <div class="event-public-header">
        <div class="event-header-datetime-section ">
            <div id="event-date" class="event-header-datetime">Пт, 18 Мая</div>
            <div id="event-time" class="event-header-datetime">18:30-19:00</div>
        </div>

        <div class="event-header-close-section">
            <div id="event-modal-@Model.Event.Id-close" class="event-header-close"></div>
        </div>

        <!-- buttons to change-->
        @if (User.Identity.GetUserId() == @Model.Event.UserId)
        {
            <div class="event-buttons">
                <button class="event-button-change">Изменить</button>
                <button class="event-button-cancel">Отменить</button>
            </div>
        }

    </div>

    <h4 id="event-title">English class</h4>

    <div class="event-body">
        @Model.Event.Description
    </div>

    <div class="event-users">
        <div class="event-creator">
            <i class="fa fa-user fa-2x"></i>
            <div class="event-creator-name">@Model.Author</div>
        </div>

        <div class="event-participant">
            <i class="fa fa-users fa-2x"></i>
            <div class="event-participants">@Model.ParticipantCount</div>
        </div>
    </div>

    @if (@Model.Event.IsParticipantsAllowed)
    {
        <div class="event-add">
            
            @if (DateTime.Compare(@Model.Event.BeginingDate, DateTime.Now) > 0)
            {
                if (Model.Event.UserId == User.Identity.GetUserId())
                {
                    <input id="Email" name="Email" type="text" placeholder="Вы уже принимаете участие в событии" required disabled />
                }
                else
                {
                    using (Html.BeginForm("Add", "Participant", FormMethod.Post, new { id = "add-participant-form" }))
                    {

                        <input id="add-participant-email" name="Email" type="text" placeholder="Укажите e-mail чтобы присоединиться" required />
                        <i id="add-participant-submit" class="fa fa-plus fa-lg"></i>
                        <input type="hidden" name="EventId" value="@Model.Event.Id"/>
                        
                    }
                }

            }
            else
            {
                <input id="Email" name="Email" type="text" placeholder="Событые уже свершилось" required  disabled/>
            }



        </div>
    }

    <div class="event-icon-section">
        <div class="event-icon-position">
            <i class="fa fa-calendar-plus-o fa-lg"></i>
            <i class="fa fa-envelope-o fa-lg"></i>
            <i class="fa fa-print fa-lg"></i>
            <i id="event-@Model.Event.Id" class="fa fa-link fa-lg"></i>
            
        </div>
    </div>

</div>