@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@model SofthemeClassBooking_BOL.Models.EventModel
@{
    var eventPage = Url.Action("Index", "Event") + "/" + Model.Id;

    var editAccess = (User.Identity.GetUserId() == Model.UserId) ||
                 (User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"]));
    var eventPlanned = DateTime.Compare(Model.EndingDate, DateTime.UtcNow.AddHours(2)) > 0;
}

<div class="event event-public">

    <div class="event-public-header">
        <div class="event-header-datetime-section ">
            <div id="event-info-date" class="event-header-datetime"></div>
            <div id="event-info-time" class="event-header-datetime"></div>
        </div>

        <div class="event-header-close-section">
            <div id="event-modal-close" class="event-header-close"></div>
        </div>

        <!-- buttons to change-->
        @if (editAccess)
        {
            <div class="event-buttons">
                @if (eventPlanned)
                {
                    <button id="event-modal-button-change" class="event-button-change">@Localization.ButtonEdit</button>
                    <button id="event-modal-button-cancel" class="event-button-cancel">@Localization.ButtonCancel</button>
                }
                else
                {
                    <button class="event-button-change" disabled>@Localization.ButtonEdit</button>
                    <button class="event-button-cancel" disabled>@Localization.ButtonCancel</button>
                }
            </div>
        }

    </div>

    <h4 id="event-title">@Model.Title</h4>


    <div class="event-icon-section">
        <div class="event-icon-position">
            <i class="fa fa-calendar-plus-o fa-lg"></i>
            <i class="fa fa-envelope-o fa-lg"></i>
            <i class="fa fa-print fa-lg"></i>
            <i id="event-@Model.Id" class="fa fa-link fa-lg"></i>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/scripts/event-popup")

<script>


    roomeventDialogWindow = new DialogWindow({
        title: '@Localization.DialogCancelEventTitle',
        bodyMessage: ""
    });

    roomeventDialogWindow.setDialogAnswerNoHandler(cancelCancelEvent);
    roomeventDialogWindow.setDialogAnswerYesHandler(cancelEvent);

    roomeventPopupInfoInit(
                convertToDateObject('@Model.BeginingDate.ToString("yyyy-MM-dd-HH-mm")'),
                convertToDateObject('@Model.EndingDate.ToString("yyyy-MM-dd-HH-mm")'),
                '@Model.Id');
</script>