@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/ico" href="/Content/images/ico/logo.ico">
    <title>@ViewBag.Title - Softheme Class Booking</title>
    
    @Scripts.Render("~/bundles/scripts/general")
    <script type="text/javascript">

        var url = {
            HomeUrl: '@Url.Action("Index","Home")',
            HomeMapLinkUrl: '@Url.Action("MapLink","Home")',
            FeedbackSendUrl: '@Url.Action("Send","Feedback")',
            RoomIdNameUrl: '@Url.Action("GetNameId","Classroom")',
            RoomEventSectionUrl: '@Url.Action("Index", "RoomEvent")',
            RoomEventPopupViewUrl: '@Url.Action("CrudView", "RoomEvent")',
            PlanSectionUrl: '@Url.Action("Index", "Classroom")' + '/Index',
            MapSectionUrl: '@Url.Action("MapPartial", "Home")',
            PlanAdditionalUrl: '@Url.Action("AdditionalInfo","Classroom")',
            RoomPageUrl: '@Url.Action("RoomPage","Classroom")',
            RoomEditUrl: '@Url.Action("Edit","Classroom")',
            IsRoomBusy: '@Url.Action("IsRoomBusy","Classroom")',
            RoomChangeStatusUrl: '@Url.Action("ChangeStatus","Classroom")',
            EventUsersUrl: '@Url.Action("UserEvents", "Event")',
            EventCreateUrl: '@Url.Action("Create", "Event")',
            EventUpdateUrl: '@Url.Action("Update","Event")',
            EventInfo: '@Url.Action("Info","Event")',
            EventsBriefUrl: '@Url.Action("Brief", "Event")',
            EventCancelUrl: '@Url.Action("Cancel","Event")',
            EventInfoPrivate: '@Url.Action("InfoPrivate", "Event")',
            EventUrl: '@Url.Action("Index", "Event")',
            EventInfoVerbose: '@Url.Action("InfoVerbose", "Event")',
            ParticipantAddUrl: '@Url.Action("Add","Participant")',
            ParticipantRemoveUrl: '@Url.Action("Remove","Participant")',
            ParticipantExist: '@Url.Action("IsTakePart","Participant")',
            ParticipantsUrl: '@Url.Action("Participants","Participant")',
            DialogWindowUrl: '@Url.Action("DialogWindow","Home")'
        };
        setEngineUrl(url);
        setCurrentUserId('@User.Identity.GetUserId()');

    </script>

    @Styles.Render("~/bundles/styles/general")
    @Scripts.Render("~/bundles/scripts/jquery")
   

    @RenderSection("stylesDeclarationInHeader", required: false)
    @RenderSection("scriptDeclarationInHeader", required: false)

</head>
<body>

    <nav>
        <div class="containerLogo">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/images/logo.png" alt="Softheme" />
            </a>

        </div>


        <div class="containerNav">
            <div>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>

    <div id="lock" class="dialog-background"></div>
    <div id="event-modal-position" class="event-modal-section"></div>
    <div id="dialog-window-position" class="dialog"></div>

    <footer>
        <div class="container">
            <div class="image">
                <img src="~/Content/images/logo-gray.png" alt="Softheme" />
            </div>
            <div class="line">
                <hr />
            </div>
            <div class="text">
                Все права защищены &copy;2016
            </div>
        </div>
    </footer>

@RenderSection("scriptDeclarationAfterFooter", required: false)
</body>
</html>
