
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SofthemeLogin</title>
    @Styles.Render("~/Styles/css")
    @Styles.Render("~/Styles/registration")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @RenderBody()

    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
    <script>

    </script>
</body>
</html>
