@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul>
            <li>
                <a href="@Url.Action("Index", "Event")">
                    <div style="padding-top: 25%;"><img src="~/Content/images/addEvent.png" alt="Add event" /></div>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Schedule", "Home")"
                   @(ViewContext.RouteData.Values["controller"].ToString().Equals("Home") && (ViewContext.RouteData.Values["action"].ToString().Equals("Schedule") || ViewContext.RouteData.Values["action"].ToString().Equals("Index")) ? "class=current" : "")>
                    <div class="nav-text">Рассписание</div>
                </a>
                <div @(ViewContext.RouteData.Values["controller"].ToString().Equals("Home") && (ViewContext.RouteData.Values["action"].ToString().Equals("Schedule") || ViewContext.RouteData.Values["action"].ToString().Equals("Index")) ? "class=nav-line-display" : "class=nav-line-hide")></div>
            </li>
            <li>
                <a href="@Url.Action("Index", "Feedback")" @(ViewContext.RouteData.Values["controller"].ToString().Equals("Feedback") ? "class=current" : "")>
                    <div class="nav-text">Обратная связь</div>
                </a>
                <div @(ViewContext.RouteData.Values["controller"].ToString().Equals("Feedback") ? "class=nav-line-display" : "class=nav-line-hide")></div>
            </li>
            <li>
                <a href="@Url.Action("UserProfile", "Home")">
                <div class="nav-text"><img src="~/Content/images/profile.png" alt="profile" /> @User.Identity.Name </div>
                </a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><div class="nav-text">Off</div></a></li>
        </ul>
    }
}
else
{
    <ul>
        <li>
            <a href="@Url.Action("Schedule", "Home")"
               @(ViewContext.RouteData.Values["controller"].ToString().Equals("Home") && (ViewContext.RouteData.Values["action"].ToString().Equals("Schedule") || ViewContext.RouteData.Values["action"].ToString().Equals("Index")) ? "class=current" : "")>
                <div class="nav-text">Рассписание</div>
            </a>
            <div @(ViewContext.RouteData.Values["controller"].ToString().Equals("Home") && (ViewContext.RouteData.Values["action"].ToString().Equals("Schedule") || ViewContext.RouteData.Values["action"].ToString().Equals("Index")) ? "class=nav-line-display" : "class=nav-line-hide")></div>
        </li>
        <li>
            <a href="@Url.Action("Index", "Feedback")" @(ViewContext.RouteData.Values["controller"].ToString().Equals("Feedback") ? "class=current" : "")>
                <div class="nav-text">Обратная связь</div>
            </a>
            <div @(ViewContext.RouteData.Values["controller"].ToString().Equals("Feedback") ? "class=nav-line-display" : "class=nav-line-hide")></div>
        </li>
        <li>
            <a href="@Url.Action("Index", "Login")">
                <div class="nav-text">Вход</div>
            </a>
        </li>
    </ul>
}
