@using Microsoft.AspNet.Identity 
@if (Request.IsAuthenticated)
{
   
        @Html.AntiForgeryToken()

    <ul id="main-menu">
        <li>
            
        </li>
        <li>
            <a href="@Url.Action("Index", "Event")">
                <img id="event" src="~/Content/images/addEvent.png" alt="Add event"/>
                
            </a>
        </li>
        <li>
            

            <a href="@Url.Action("Schedule", "Home")">

                <div class="nav-text">Рассписание</div>
            </a>

        </li>
        @if (@User.IsInRole("admin"))
        {
            <li>
                <a href="@Url.Action("UserList", "Manage")">

                    <div id="feedback" class="nav-text">Пользователи</div>
                </a>

            </li>
        }
        <li>
            <a href="@Url.Action("Index", "Feedback")">
                
                <div id="feedback" class="nav-text">Обратная связь</div>
            </a>
         
        </li>
        <li>
            <div class="inner-element">
                <a href="@Url.Action("UserProfile", "Home")">
                    <div class="nav-text">
                        <img src="~/Content/images/profile.png" alt="profile" />
                        <div class="UserName">@User.Identity.Name </div>
                    </div>
                </a>
            </div>
        </li>

    </ul>

}
else
{
    <ul id="main-menu">
        <li>
            <a href="@Url.Action("Schedule", "Home")"
               @(ViewContext.RouteData.Values["controller"].ToString().Equals("Home") && (ViewContext.RouteData.Values["action"].ToString().Equals("Schedule") || ViewContext.RouteData.Values["action"].ToString().Equals("Index")) ? "class=current" : "")>
                <div class="nav-text">Рассписание</div>
            </a>
            <div @(ViewContext.RouteData.Values["controller"].ToString().Equals("Home") && (ViewContext.RouteData.Values["action"].ToString().Equals("Schedule") || ViewContext.RouteData.Values["action"].ToString().Equals("Index")) ? "class=nav-line-display" : "class=nav-line-hide")></div>
        </li>
        <li>
            <a href="@Url.Action("Index", "Feedback")" @(ViewContext.RouteData.Values["controller"].ToString().Equals("Feedback") ? "class=current" : "")>
                <div class="nav-text">Обратная связь</div>
            </a>
            <div @(ViewContext.RouteData.Values["controller"].ToString().Equals("Feedback") ? "class=nav-line-display" : "class=nav-line-hide")></div>
        </li>
        <li>
            <a href="@Url.Action("Index", "Login")">
                <div class="nav-text">Вход</div>
            </a>
        </li>
    </ul>
}
